<a href="https://colab.research.google.com/github/atlas-github/fstep_21/blob/main/fstep_21_banknegara_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Use Postman to generate the Python code to get Latest Exchange Rates from [here](https://api.bnm.gov.my/explorer?category=Rates%20and%20Volumes)

In [1]:
import requests

url = "https://api.bnm.gov.my/public/exchange-rate"

payload={}
headers = {
  'Accept': 'application/vnd.BNM.API.v1+json',
  'Cookie': 'TS01c7b99f=0152d1c092b30c5e49d858830f77a6b78e47eaa39ff6ce2d977ff5a3ffa85788609d2f1c56fb251d4c2b1332ba83fab2592bdc5741'
}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

{"data":[{"currency_code":"CHF","unit":1,"rate":{"date":"2021-11-02","buying_rate":4.5481,"selling_rate":4.5524,"middle_rate":4.5503}},{"currency_code":"CAD","unit":1,"rate":{"date":"2021-11-02","buying_rate":3.3427,"selling_rate":3.3454,"middle_rate":3.3441}},{"currency_code":"BND","unit":1,"rate":{"date":"2021-11-02","buying_rate":3.076,"selling_rate":3.0789,"middle_rate":3.0774}},{"currency_code":"AUD","unit":1,"rate":{"date":"2021-11-02","buying_rate":3.0945,"selling_rate":3.0976,"middle_rate":3.096}},{"currency_code":"AED","unit":100,"rate":{"date":"2021-11-02","buying_rate":112.8835,"selling_rate":112.999,"middle_rate":112.9412}},{"currency_code":"CNY","unit":1,"rate":{"date":"2021-11-02","buying_rate":0.6483,"selling_rate":0.6488,"middle_rate":0.6485}},{"currency_code":"NPR","unit":100,"rate":{"date":"2021-11-02","buying_rate":3.4651,"selling_rate":3.4682,"middle_rate":3.4666}},{"currency_code":"SDR","unit":1,"rate":{"date":"2021-11-02","buying_rate":null,"selling_rate":null,"middle_rate":5.8528}},{"currency_code":"VND","unit":100,"rate":{"date":"2021-11-02","buying_rate":0.0182,"selling_rate":0.0182,"middle_rate":0.0182}},{"currency_code":"USD","unit":1,"rate":{"date":"2021-11-02","buying_rate":4.147,"selling_rate":4.15,"middle_rate":4.1485}},{"currency_code":"TWD","unit":100,"rate":{"date":"2021-11-02","buying_rate":14.8809,"selling_rate":14.897,"middle_rate":14.8889}},{"currency_code":"THB","unit":100,"rate":{"date":"2021-11-02","buying_rate":12.4684,"selling_rate":12.485,"middle_rate":12.4767}},{"currency_code":"SGD","unit":1,"rate":{"date":"2021-11-02","buying_rate":3.0762,"selling_rate":3.0786,"middle_rate":3.0774}},{"currency_code":"SAR","unit":100,"rate":{"date":"2021-11-02","buying_rate":110.5513,"selling_rate":110.6372,"middle_rate":110.5942}},{"currency_code":"PKR","unit":100,"rate":{"date":"2021-11-02","buying_rate":2.4323,"selling_rate":2.4484,"middle_rate":2.4403}},{"currency_code":"PHP","unit":100,"rate":{"date":"2021-11-02","buying_rate":8.2252,"selling_rate":8.2345,"middle_rate":8.2298}},{"currency_code":"NZD","unit":1,"rate":{"date":"2021-11-02","buying_rate":2.9697,"selling_rate":2.9722,"middle_rate":2.9709}},{"currency_code":"MMK","unit":100,"rate":{"date":"2021-11-02","buying_rate":0.2379,"selling_rate":0.2381,"middle_rate":0.238}},{"currency_code":"KRW","unit":100,"rate":{"date":"2021-11-02","buying_rate":0.3526,"selling_rate":0.353,"middle_rate":0.3528}},{"currency_code":"KHR","unit":100,"rate":{"date":"2021-11-02","buying_rate":0.1011,"selling_rate":0.1023,"middle_rate":0.1017}},{"currency_code":"JPY","unit":100,"rate":{"date":"2021-11-02","buying_rate":3.6531,"selling_rate":3.6567,"middle_rate":3.6549}},{"currency_code":"INR","unit":100,"rate":{"date":"2021-11-02","buying_rate":5.5437,"selling_rate":5.5485,"middle_rate":5.5461}},{"currency_code":"IDR","unit":100,"rate":{"date":"2021-11-02","buying_rate":0.0291,"selling_rate":0.0291,"middle_rate":0.0291}},{"currency_code":"HKD","unit":100,"rate":{"date":"2021-11-02","buying_rate":53.2883,"selling_rate":53.3289,"middle_rate":53.3086}},{"currency_code":"GBP","unit":1,"rate":{"date":"2021-11-02","buying_rate":5.6532,"selling_rate":5.6585,"middle_rate":5.6559}},{"currency_code":"EUR","unit":1,"rate":{"date":"2021-11-02","buying_rate":4.8055,"selling_rate":4.8099,"middle_rate":4.8077}},{"currency_code":"EGP","unit":1,"rate":{"date":"2021-11-02","buying_rate":0.2631,"selling_rate":0.265,"middle_rate":0.2641}}],"meta":{"quote":"rm","session":"1700","last_updated":"2021-11-02 19:56:14","total_result":27}}

In [6]:
response.json()['data']

[{'currency_code': 'CHF',
  'rate': {'buying_rate': 4.5481,
   'date': '2021-11-02',
   'middle_rate': 4.5503,
   'selling_rate': 4.5524},
  'unit': 1},
 {'currency_code': 'CAD',
  'rate': {'buying_rate': 3.3427,
   'date': '2021-11-02',
   'middle_rate': 3.3441,
   'selling_rate': 3.3454},
  'unit': 1},
 {'currency_code': 'BND',
  'rate': {'buying_rate': 3.076,
   'date': '2021-11-02',
   'middle_rate': 3.0774,
   'selling_rate': 3.0789},
  'unit': 1},
 {'currency_code': 'AUD',
  'rate': {'buying_rate': 3.0945,
   'date': '2021-11-02',
   'middle_rate': 3.096,
   'selling_rate': 3.0976},
  'unit': 1},
 {'currency_code': 'AED',
  'rate': {'buying_rate': 112.8835,
   'date': '2021-11-02',
   'middle_rate': 112.9412,
   'selling_rate': 112.999},
  'unit': 100},
 {'currency_code': 'CNY',
  'rate': {'buying_rate': 0.6483,
   'date': '2021-11-02',
   'middle_rate': 0.6485,
   'selling_rate': 0.6488},
  'unit': 1},
 {'currency_code': 'NPR',
  'rate': {'buying_rate': 3.4651,
   'date': '2021-11-02',
   'middle_rate': 3.4666,
   'selling_rate': 3.4682},
  'unit': 100},
 {'currency_code': 'SDR',
  'rate': {'buying_rate': None,
   'date': '2021-11-02',
   'middle_rate': 5.8528,
   'selling_rate': None},
  'unit': 1},
 {'currency_code': 'VND',
  'rate': {'buying_rate': 0.0182,
   'date': '2021-11-02',
   'middle_rate': 0.0182,
   'selling_rate': 0.0182},
  'unit': 100},
 {'currency_code': 'USD',
  'rate': {'buying_rate': 4.147,
   'date': '2021-11-02',
   'middle_rate': 4.1485,
   'selling_rate': 4.15},
  'unit': 1},
 {'currency_code': 'TWD',
  'rate': {'buying_rate': 14.8809,
   'date': '2021-11-02',
   'middle_rate': 14.8889,
   'selling_rate': 14.897},
  'unit': 100},
 {'currency_code': 'THB',
  'rate': {'buying_rate': 12.4684,
   'date': '2021-11-02',
   'middle_rate': 12.4767,
   'selling_rate': 12.485},
  'unit': 100},
 {'currency_code': 'SGD',
  'rate': {'buying_rate': 3.0762,
   'date': '2021-11-02',
   'middle_rate': 3.0774,
   'selling_rate': 3.0786},
  'unit': 1},
 {'currency_code': 'SAR',
  'rate': {'buying_rate': 110.5513,
   'date': '2021-11-02',
   'middle_rate': 110.5942,
   'selling_rate': 110.6372},
  'unit': 100},
 {'currency_code': 'PKR',
  'rate': {'buying_rate': 2.4323,
   'date': '2021-11-02',
   'middle_rate': 2.4403,
   'selling_rate': 2.4484},
  'unit': 100},
 {'currency_code': 'PHP',
  'rate': {'buying_rate': 8.2252,
   'date': '2021-11-02',
   'middle_rate': 8.2298,
   'selling_rate': 8.2345},
  'unit': 100},
 {'currency_code': 'NZD',
  'rate': {'buying_rate': 2.9697,
   'date': '2021-11-02',
   'middle_rate': 2.9709,
   'selling_rate': 2.9722},
  'unit': 1},
 {'currency_code': 'MMK',
  'rate': {'buying_rate': 0.2379,
   'date': '2021-11-02',
   'middle_rate': 0.238,
   'selling_rate': 0.2381},
  'unit': 100},
 {'currency_code': 'KRW',
  'rate': {'buying_rate': 0.3526,
   'date': '2021-11-02',
   'middle_rate': 0.3528,
   'selling_rate': 0.353},
  'unit': 100},
 {'currency_code': 'KHR',
  'rate': {'buying_rate': 0.1011,
   'date': '2021-11-02',
   'middle_rate': 0.1017,
   'selling_rate': 0.1023},
  'unit': 100},
 {'currency_code': 'JPY',
  'rate': {'buying_rate': 3.6531,
   'date': '2021-11-02',
   'middle_rate': 3.6549,
   'selling_rate': 3.6567},
  'unit': 100},
 {'currency_code': 'INR',
  'rate': {'buying_rate': 5.5437,
   'date': '2021-11-02',
   'middle_rate': 5.5461,
   'selling_rate': 5.5485},
  'unit': 100},
 {'currency_code': 'IDR',
  'rate': {'buying_rate': 0.0291,
   'date': '2021-11-02',
   'middle_rate': 0.0291,
   'selling_rate': 0.0291},
  'unit': 100},
 {'currency_code': 'HKD',
  'rate': {'buying_rate': 53.2883,
   'date': '2021-11-02',
   'middle_rate': 53.3086,
   'selling_rate': 53.3289},
  'unit': 100},
 {'currency_code': 'GBP',
  'rate': {'buying_rate': 5.6532,
   'date': '2021-11-02',
   'middle_rate': 5.6559,
   'selling_rate': 5.6585},
  'unit': 1},
 {'currency_code': 'EUR',
  'rate': {'buying_rate': 4.8055,
   'date': '2021-11-02',
   'middle_rate': 4.8077,
   'selling_rate': 4.8099},
  'unit': 1},
 {'currency_code': 'EGP',
  'rate': {'buying_rate': 0.2631,
   'date': '2021-11-02',
   'middle_rate': 0.2641,
   'selling_rate': 0.265},
  'unit': 1}]

In [17]:
import json

a_json = json.loads(response.text)
dataframe = pd.json_normalize(a_json["data"])
dataframe

   currency_code  unit  ... rate.selling_rate  rate.middle_rate
0            CHF     1  ...            4.5524            4.5503
1            CAD     1  ...            3.3454            3.3441
2            BND     1  ...            3.0789            3.0774
3            AUD     1  ...            3.0976            3.0960
4            AED   100  ...          112.9990          112.9412
5            CNY     1  ...            0.6488            0.6485
6            NPR   100  ...            3.4682            3.4666
7            SDR     1  ...               NaN            5.8528
8            VND   100  ...            0.0182            0.0182
9            USD     1  ...            4.1500            4.1485
10           TWD   100  ...           14.8970           14.8889
11           THB   100  ...           12.4850           12.4767
12           SGD     1  ...            3.0786            3.0774
13           SAR   100  ...          110.6372          110.5942
14           PKR   100  ...            2.4484            2.4403
15           PHP   100  ...            8.2345            8.2298
16           NZD     1  ...            2.9722            2.9709
17           MMK   100  ...            0.2381            0.2380
18           KRW   100  ...            0.3530            0.3528
19           KHR   100  ...            0.1023            0.1017
20           JPY   100  ...            3.6567            3.6549
21           INR   100  ...            5.5485            5.5461
22           IDR   100  ...            0.0291            0.0291
23           HKD   100  ...           53.3289           53.3086
24           GBP     1  ...            5.6585            5.6559
25           EUR     1  ...            4.8099            4.8077
26           EGP     1  ...            0.2650            0.2641

[27 rows x 6 columns]

#Exercise: Get Overnight Policy Rate (OPR) from 2015 [here](https://api.bnm.gov.my/explorer?category=Rates%20and%20Volumes), then output as a table

In [21]:
import requests

url = "https://api.bnm.gov.my/public/opr/year/2015"

payload={}
headers = {
  'Accept': 'application/vnd.BNM.API.v1+json',
  'Cookie': 'TS01c7b99f=0152d1c092fbaee92374622be627ee6681055adc8939de4d4dd8ee33afec07213f28db1789893514b54632f46c045793cd34549645'
}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

{"data":[{"year":2015,"date":"2015-11-05","change_in_opr":0,"new_opr_level":3.25},{"year":2015,"date":"2015-09-11","change_in_opr":0,"new_opr_level":3.25},{"year":2015,"date":"2015-07-09","change_in_opr":0,"new_opr_level":3.25},{"year":2015,"date":"2015-05-07","change_in_opr":0,"new_opr_level":3.25},{"year":2015,"date":"2015-03-05","change_in_opr":0,"new_opr_level":3.25},{"year":2015,"date":"2015-01-28","change_in_opr":0,"new_opr_level":3.25}],"meta":{"last_updated":"2020-09-18 08:54:33","total_result":6}}

In [22]:
b_json = json.loads(response.text)
df2 = pd.json_normalize(b_json["data"])
df2

   year        date  change_in_opr  new_opr_level
0  2015  2015-11-05              0           3.25
1  2015  2015-09-11              0           3.25
2  2015  2015-07-09              0           3.25
3  2015  2015-05-07              0           3.25
4  2015  2015-03-05              0           3.25
5  2015  2015-01-28              0           3.25